html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 6rem;
  background-color: #363B4E !important;
}

.main {
  background-color: #4F3B78;
  border: 1px solid #252525;
  border-radius: 12px;
  width: 85%;
  height: 90vh;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
.main__section {
  display: flex;
  flex-direction: column;
  margin: 5rem 2rem;
}
.main__section__title {
  font-size: 3.5rem;
  font-weight: 700;
}
.main__section__container__controls {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}
.main__section__container__controls button {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 0.5rem;
  width: 20rem;
  height: 5rem;
  border: 1px solid #252525;
  border-radius: 12px;
  background-color: #C4BBF0;
  color: #252525;
  cursor: pointer;
  height: 5rem;
}
.main__section__container__controls button:hover {
  background-color: #d5d1ec;
}
.main__section__container__controls button:active {
  filter: brightness(0.8);
}
.main__section__container__controls button p {
  font-size: 2rem;
}
.main__section__container__controls button img {
  width: 25%;
}
.main__section__container__controls button img {
  width: 3rem;
}
.main__section__container__controls button:nth-child(2) {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 0.5rem;
  width: 20rem;
  height: 5rem;
  border: 1px solid #252525;
  border-radius: 12px;
  background-color: #C4BBF0;
  color: #252525;
  cursor: pointer;
  width: 6rem;
}
.main__section__container__controls button:nth-child(2):hover {
  background-color: #d5d1ec;
}
.main__section__container__controls button:nth-child(2):active {
  filter: brightness(0.8);
}
.main__section__container__controls button:nth-child(2) p {
  font-size: 2rem;
}
.main__section__container__controls button:nth-child(2) img {
  width: 25%;
}
.main__section__container__controls button:nth-child(2) img {
  width: 4rem;
}

.main__section__container__table {
  font-weight: 500;
  font-size: 1.2rem;
}

.table__caption {
  font-weight: 500;
  font-size: 1.6rem;
  color: #252525;
}

.dataTables_length label {
  font-weight: 500;
  font-size: 1.6rem;
  color: #252525;
}

.dataTables_filter label {
  font-weight: 500;
  font-size: 1.6rem;
  color: #252525;
}

.aside-menu {
  background-color: #4F3B78;
  border: 1px solid #252525;
  border-radius: 12px;
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}
.aside-menu__button:nth-child(1) {
  margin-top: 2rem;
}
.aside-menu__button {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 0.5rem;
  width: 20rem;
  height: 5rem;
  border: 1px solid #252525;
  border-radius: 12px;
  background-color: #C4BBF0;
  color: #252525;
  cursor: pointer;
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
  border-radius: 5px;
  font-size: 1.6rem !important;
  width: 100%;
}
.aside-menu__button:hover {
  background-color: #d5d1ec;
}
.aside-menu__button:active {
  filter: brightness(0.8);
}
.aside-menu__button p {
  font-size: 2rem;
}
.aside-menu__button img {
  width: 25%;
}
.aside-menu__button picture {
  align-self: center;
  pointer-events: none;
}
.aside-menu__button p {
  font-weight: 300;
  pointer-events: none;
}
.aside-menu__button img {
  width: 2rem;
  pointer-events: none;
}

.inactive {
  display: none;
}

/*# sourceMappingURL=style.css.map */
