@use '../variables/colors' as c;

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    gap: 6rem;
    background-color: c.$primary-color !important;
    position: relative;
}