@use '../variables/colors' as c;
@use '../mixins/media_queries.scss' as mq;

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    gap: 6rem;
    background-color: c.$primary-color !important;
    position: relative;
}

.ham__menu{
    position: absolute;
    right: 0;
    margin: 0rem 2rem;
    cursor: pointer;
    img{
        width: 4rem;

        @include mq.mobile{
            width: 3rem;
        }
    }

    @media(min-width: 1025px){
        display: none;
    }
}