@use '../../variables/font-sizes' as fs;
@use '../../variables/colors' as c;
@use '../../mixins/buttons.scss' as btn;

.main{
    background-color: c.$secondary-color;
    border: 1px solid c.$black;
    border-radius: 12px;
    width: 85%;
    height: 90vh;


    &__section{
        display: flex;
        flex-direction: column;
        margin: .5rem 2rem;

        h2{
            font-size: fs.$xl;
        }

        &__container{
            &__controls{
                display: flex;
                justify-content: flex-end;
                gap: 3rem;
                button{
                    @include btn.button;
                    height: 5rem;
                }

                & button:nth-child(2){
                    width: 6rem;

                    img{
                        width: 4rem;
                    }
                }
            }
        }
    }
}