@use '../../variables/font-sizes' as fs;
@use '../../variables/colors' as c;
@use '../../mixins/buttons.scss' as btn;

.main{
    background-color: c.$secondary-color;
    border: 1px solid c.$black;
    border-radius: 12px;
    width: 85%;
    height: 90vh;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;

    &__section__new{
        position: absolute;
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img{
            width: 2rem;
            position: absolute;
            margin: .5rem;
            cursor: pointer;
        }

        &__form{
            background-color: c.$secondary-color;
            border-radius: 12px;
            padding: 4rem;
            border: 3px solid c.$black;
            width: fit-content;
        
            form{
                display: grid;
                grid-template-columns: repeat(2,1fr);

                .block{
                    grid-column: 1/3;
                }
            }

            form p{
                margin: 0;
                padding: 1rem;


                button,
                input,
                textarea{
                    width: 100%;
                    padding: 0.8rem;
                    border: none;
                    background: none;
                    outline: 0;
                    border-bottom: 1px solid c.$third-color;
                    color: c.$fourth-color;
                }

                button{
                    background-color: c.$primary-color;
                    border: 0;
                    text-transform: uppercase;
                    padding: 1rem;

                    &:hover, &:focus{
                        background-color: c.$third-color;
                        color: c.$secondary-color;
                        outline: 0;
                        transition: background-color .3s ease-out;
                    }
                }
            }
        }
    }


    &__section{
        display: flex;
        flex-direction: column;
        margin: 5rem 2rem;
        

        &__title{
            font-size: fs.$xl;
            font-weight: 700;
        }

        &__container{
            &__controls{
                display: flex;
                justify-content: flex-end;
                gap: 3rem;
                button{
                    @include btn.button;
                    height: 5rem;
                    
                    
                    img{
                        width: 3rem;
                    }
                }
            }
        }
    }
}