@use '../variables/colors' as c;
@use '../variables/font-sizes' as fs;

@mixin button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 20rem;
    border: 1px solid c.$black;
    border-radius: 12px;
    background-color: c.$fourth-color;
    color:c.$black;

    p{
        font-size: fs.$md;
    }

    img{
        width: 25%;
    }
}