@use '../../variables/colors' as c;
@use '../../mixins/buttons.scss' as btn;
@use '../../variables/font-sizes' as fs;

.aside-menu{
    background-color: c.$secondary-color;
    border: 1px solid c.$black;
    border-radius: 12px;
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;

    &__button:nth-child(1){
        margin-top: 2rem;
    }

    &__button{
        @include btn.button;
        background-color: c.$fourth-color;
        border-top: 1px solid c.$black;
        border-bottom: 1px solid c.$black;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
        cursor: pointer;
        width: 100%;

        & img{
            width: 2.5rem;
        }
    }
}