@forward './table/aside__table';
@use '../../variables/colors' as c;
@use '../../mixins/buttons.scss' as btn;
@use '../../variables/font-sizes' as fs;

.aside-menu{
    background-color: c.$secondary-color;
    border: 1px solid c.$black;
    border-radius: 12px;
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    margin-left: 1rem;
    margin-top: 1rem;

    &__button:nth-child(1){
        margin-top: 2rem;
    }

    &__button{
        @include btn.button;
        border-top: 1px solid c.$black;
        border-bottom: 1px solid c.$black;
        border-radius: 5px;
        font-size: fs.$sm !important;
        width: 100%;

        & picture{
            align-self: center;
            pointer-events: none;
        }

        & p{
            font-weight: 300;
            pointer-events: none;
        }

        & img{
            width: 2rem;
            pointer-events: none;
        }
    }
}